@{
    ViewBag.Title = "News";
}

<!-- Swiper -->
<div id="postdetail" class="posts">
    <div class="post detail">


        @if (Model != null)
        {
            @*<header class="profile">
                <img src="~/img/1.jpg" class="pull-left">
                <div class="name"><span>冉小冉</span><span class="create-time pull-right">@Model.RspTime</span></div>
            </header>*@
            <h1 class="post-title">@Model.NewsName</h1>
           
            <div class="image-single">
                <img src="@Model.TitleUrl">

                
            </div>
           <div class="image-single">
              
               @Html.Raw(@Model.NewsContent)
            </div>

        }
        <div style="clear: both;"></div>

        
        <div style="clear: both;"></div>
    </div>
</div>
