@{
    ViewBag.Title = "Index";
}

<!-- Swiper -->
<div class="swiper-container swiper-container-vertical swiper-container-android">
    <div class="swiper-wrapper">
        <!--简介-->
        <div class="swiper-slide">
            <div class="banner banner_img1">
                <div class="app_download_wrapper clearfix">
                    <img src="~/img/app.png" class="app_img">
                    <div class="txt">
                        <h1>走进商品世界</h1>
                        <p>华恒  专业值得信赖</p>
                        <p>丰富的商品选择  超高的质量体系保证</p>
                    </div>
                    <div class="btn-wrapper-group">
                        <img src="~/img/banner_qrcode.png" class="pull-left">
                        <a class="btn-wrapper iphone" href="">
                            <span class="ios"></span>
                            <div class="btn-container">
                                <img src="~/img/wechat.png" class="ios_icon">
                                <p class="ios_txt">关注我们</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--减脂-->
        <div class="swiper-slide">
            <div class="banner banner_img2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-2">
                            <h1>推广页面</h1>
                            <p>核心热门商家广告</p>
                            <p>开启盈利模式</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--增肌-->
        <div class="swiper-slide">
            <div class="banner banner_img3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-3">
                            <h1>秒杀活动</h1>
                            <p>真实的物品，实惠给您。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--瑜伽-->
        <div class="swiper-slide">
            <div class="banner banner_img4">
				<div class="container">
                    <div class="row">
                        <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-4">
                            <h1>特惠商品</h1>
                            <p>真实的物品，实惠给您。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       @* <!--教练风采-->
        <div class="swiper-slide">
            <div class="banner banner_7">
                <div class="qrcode">
                    <div class="header">
                        <p class="title">选择魅力</p>
                        <p class="subtitle">你将拥有一生的改变</p>
                    </div>
                    <div class="container">
                        <p>魅力是某某科技有限公司推出的一款减肥健身移动App产品，我们立志将产品和服务打造成有特色有口碑的减肥健身综合服务平台，围绕着有效、有爱和有趣的产品理念，为用户提供有效的瘦身方案、有爱的瘦身氛围和有趣的瘦身体验。</p>
                        <p>在这里有着如90后脑洞大开的80后CEO，对行业发展独具的视野以及雷厉风行的风格总会让团队眼前一亮，前进路上的风风雨雨在他的带领下总能迎刃而解。</p>
                        <p>在这里有一群逗比的、热情的、有梦想的攻城狮和设计狮，他们热爱运动、热爱分享，他们与“呆板”、“木楞”没有一点联系！加入我们吧，你会发现每天都欢声笑语！</p>
                        <p>在这里还有一群活泼的运营喵和市场喵，他们思维活泼、想象力丰富，总会有出人意料的想法并深入的执行！</p>
                        <p>如果你是一个不安于现状的人，如果你是一个执行力强的人，那么，加入我们，让我们一起成长，一起变得伟大！</p>
                        <p><a href="about.html" class="deep">进一步了解我们 > </a></p>
                    </div>
                    <div id="slider">
                        <div class="zoom-large">
                            <img class="active" src="~/img/pic_1.jpg" />
                            <img src="~/img/pic_2.jpg" />
                            <img src="~/img/pic_1.jpg" />
                            <img src="~/img/pic_2.jpg" />
                            <img src="~/img/pic_1.jpg" />
                        </div>
                        <div class="member-info">
                            <div class="info active">
                                <h4>Mabel Yuan</h4>
                                <p>袁姗姗6岁开始学小提琴，可以说是从小就开始培养艺术才能。她父母都是公务员</p>
                            </div>
                            <div class="info">
                                <h4>Joe Chen</h4>
                                <p class="member-info-text">2002年1月，陈乔恩化名“小红恩”，主持一档行脚类旅游节目《中国那么大》</p>
                            </div>
                            <div class="info">
                                <h4>蒋欣</h4>
                                <p>蒋欣，1983年5月8日出生于新疆维吾尔自治区乌鲁木齐市，中国内地女演员</p>
                            </div>
                            <div class="info">
                                <h4>吧啦啦啦</h4>
                                <p>又唤“帮主”。 曾在360，人人网，猫扑网担任架构师、高级工程师。</p>
                            </div>
                            <div class="info">
                                <h4>刘亦菲</h4>
                                <p>刘亦菲，1987年8月25日出生于湖北省武汉市，影视女演员</p>
                            </div>
                        </div>
                        <div class="member-list">
                            <div class="active">
                                <img src="~/img/pic_1.jpg" />
                            </div>
                            <div>
                                <img src="~/img/pic_2.jpg" />
                            </div>
                            <div>
                                <img src="~/img/pic_1.jpg" />
                            </div>
                            <div>
                                <img src="~/img/pic_2.jpg" />
                            </div>
                            <div>
                                <img src="~/img/pic_1.jpg" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>*@
        <!--魅力圈-->
        <div class="swiper-slide">
            <div class="banner banner_5">
                <div class="qrcode container">
                    <div class="header">
                        <p class="title">魅力圈</p>
                        <p class="subtitle">社区</p>
                    </div>
                    <!--最多显示7条，比较小的设备，css已控制-->

                     @if (Model != null && Model.ArticleList != null && Model.ArticleList.Count > 0)
                     {

                         foreach (var item in Model.ArticleList)
                         { 
                         
                            <div class="newstitem">
                                <div class="fadeInLeft">
                                    <img src="~/img/1.jpg" class=""/>
                                    <p class="author">@item.CreateBy</p>
                                    <p class="ymd">@item.UpdateOn</p>
                                </div>
                                <div class="fadeInRIght">
                                    <a href="@Url.Content("../Charm/Details?articleId="+ @item.ArticleId)"><p class="description">@item.ArticleName</p></a>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                         
                         
                         }
                     
                     }




                   @* <div class="newstitem">
                        <div class="fadeInLeft">
                            <img src="~/img/1.jpg" class="">
                            <p class="author">星星</p>
                            <p class="ymd">2016-03-05</p>
                        </div>
                        <div class="fadeInRIght">
                            <p class="description">千呼万唤始出来，千树万树梨花开。等了这么久，勤劳的技术哥哥马不停蹄的敲着代码，终于UEMO的后台于今...</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="newstitem">
                        <div class="fadeInLeft">
                            <img src="~/img/2.jpg">
                            <p class="author">木木</p>
                            <p class="ymd">2016-03-05</p>
                        </div>
                        <div class="fadeInRIght">
                            <p class="description">千呼万唤始出来，千树万树梨花开。等了这么久，勤劳的技术哥哥马不停蹄的敲着代码，终于UEMO的后台于今日初步完成...</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>*@


                   @* <div class="newstitem">
                        <div class="fadeInLeft">
                            <img src="~/img/3.jpg">
                            <p class="author">玉兰</p>
                            <p class="ymd">2016-03-05</p>
                        </div>
                        <div class="fadeInRIght">
                            <p class="description">千呼万唤始出来，千树万树梨花开。等了这么久，勤劳的技术哥哥马不停蹄的敲着代码，终于UEMO的后台于今日初步完成...</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="newstitem">
                        <div class="fadeInLeft">
                            <img src="~/img/4.jpg">
                            <p class="author">晓东</p>
                            <p class="ymd">2016-03-05</p>
                        </div>
                        <div class="fadeInRIght">
                            <p class="description">千呼万唤始出来，千树万树梨花开。等了这么久，勤劳的技术哥哥马不停蹄的敲着代码，终于UEMO的后台于今日初步完成...</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="newstitem">
                        <div class="fadeInLeft">
                            <img src="~/img/4.jpg">
                            <p class="author">晓东</p>
                            <p class="ymd">2016-03-05</p>
                        </div>
                        <div class="fadeInRIght">
                            <p class="description">千呼万唤始出来，千树万树梨花开。等了这么久，勤劳的技术哥哥马不停蹄的敲着代码，终于UEMO的后台于今日初步完成...</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="newstitem">
                        <div class="fadeInLeft">
                            <img src="~/img/4.jpg">
                            <p class="author">晓东</p>
                            <p class="ymd">2016-03-05</p>
                        </div>
                        <div class="fadeInRIght">
                            <p class="description">千呼万唤始出来，千树万树梨花开。等了这么久，勤劳的技术哥哥马不停蹄的敲着代码，终于UEMO的后台于今日初步完成...</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="newstitem">
                        <div class="fadeInLeft">
                            <img src="~/img/4.jpg">
                            <p class="author">晓东</p>
                            <p class="ymd">2016-03-05</p>
                        </div>
                        <div class="fadeInRIght">
                            <p class="description">千呼万唤始出来，千树万树梨花开。等了这么久，勤劳的技术哥哥马不停蹄的敲着代码，终于UEMO的后台于今日初步完成...</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>*@



                </div>
            </div>
        </div>
        <!--推进微信-->
        <div class="swiper-slide">
            <div class="banner banner_6">
                <div class="qrcode">
                    <h1>更多惊喜，尽在这里</h1>
                    <img src="~/img/qrcode.jpg">
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
    </div>
</div>


@section CustomJS{
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            direction: 'vertical',
            mousewheelControl: true,
            mousewheelForceToAxis: true
        });

        var picTimer,
            index = 0,
            len = 4;//5个  从0开始
        //3秒走一下
        picTimer = setInterval(function () {
            showPics(index);
            if (index == len) {
                index = 0;
                picTimer;
            } else {
                index++;
            }
        }, 3000);
        //鼠标经过的时候，下标在当下
        $(".member-list div").hover(function () {
            //clearInterval(picTimer);
            index = $(this).index();
            picTimer;
        }, function () {
            //离开后，下标自当下开始
            picTimer;
        }).trigger("mouseleave");

        //显示该显示的
        function showPics(index) {
            $(".zoom-large img").eq(index).addClass("active").siblings().removeClass("active");
            $(".member-info .info").eq(index).addClass("active").siblings().removeClass("active");
            $(".member-list div").eq(index).addClass("active").siblings().removeClass("active");
        }


    </script>
}
